#header-notification {
	position: relative;
	z-index: -1;
	text-align: center;
	height: 55px;
	line-height: 55px;
	opacity: 0;
	transform: translateY(-55px);
	margin-bottom: -55px;
	transition: transform .3s ease, margin .3s ease, opacity .3s ease;
}

@media screen and (max-width: 801px) {
	#header-notification {
		font-size: 12px;
	}
}

#header-notification.opened {
	opacity: 1;
	margin-bottom: 0px;
	transform: translateY(0px);
}

#header-bar-container > * {
	flex-basis: calc(100% / 3);
}

header a.button {
	padding: 7px 25px;
	margin-left: 10px;
	border: 2px solid;
	border-radius: 25px;
	font-size: 12px;
	text-transform: uppercase;
	opacity: .6;
	cursor: pointer;
	user-select: none;
}

header a.button:hover {
	opacity: .8;
}
