@import url('/resources/css/menu.css');
@import url('/resources/css/header.css');

@media screen and (min-width: 768px) {
	.show-desktop {
		display: inherit;
	}
	.show-mobile {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	.show-desktop {
		display: none;
	}
	.show-mobile {
		display: inherit;
	}
}

* {
	margin: 0;
}

body {
	font-family: Roboto;
}

a {
	text-decoration: none;
	color: inherit;
}

body.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

header {
	height: 55px;
	line-height: 55px;
	width: 100%;
	color: black;
}

header .material-icons {
	font-size: 28px;
	vertical-align: middle;
}

#header-menu-button {
	user-select: none;
	cursor: pointer;
}

#header-account-button {
	user-select: none;
	cursor: pointer;
}

header #header-bar {
	width: 100%;
	transition: background .3s;
}

header #header-bar.pinned {
	position: fixed;
	z-index: 25;
	top: 0;
	background: #333;
	color: white;
}

header #header-bar-container {
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
}

header #logo {
	font-family: "Pacifico";
	font-size: 24px;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

#card-container {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.card {
	margin: 20px 0;
	background: #eee;
	align-self: center;
	width: 90vw;
	height: 90vw;
	max-height: 600px;
	max-width: 600px;
	border-radius: 10px;
}

.card-img-fake {
	background: url('https://ih0.redbubble.net/image.512106907.5078/flat,800x800,075,f.u2.jpg') no-repeat;
	background-position: 50%;
	background-size: 100% auto;
}

.card-overlay {
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	border-radius: 10px;
	padding: 20px;
	background: linear-gradient(transparent, rgba(0, 0, 0, .4));
	display: flex;
	align-items: flex-end;
	color: white;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card-author {
	flex-basis: 50%;
	align-self: flex-start;
	text-transform: uppercase;
}

.card-title {
	flex-basis: 100%;
	text-transform: uppercase;
}

.card-like-button {
	align-self: flex-start;
    width:  24px;
	height: 24px;
	-webkit-mask: url('/resources/images/like.svg') no-repeat 100% 100%;
	mask: url('/resources/images/like.svg') no-repeat 100% 100%;
	-webkit-mask-size: cover;
	mask-size: cover;
	background-color: white;
	cursor: pointer;
}

.card-like-button:hover {
	background-color: #ff2d2d;
}

#signup-popup {
	position: fixed;
	z-index: 300;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	opacity: 0;
}

#signup-popup.open {
	display: inherit;
	opacity: 1;
}
